language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - 2.3.0
  - jruby
matrix:
  exclude:
    - rvm: 1.8.7
      gemfile: Gemfile.rails4
    - rvm: 1.8.7
      gemfile: Gemfile.rails4_rmagick
    - rvm: 1.9.2
      gemfile: Gemfile.rails4
    - rvm: 1.9.2
      gemfile: Gemfile.rails4_rmagick
    - rvm: jruby
      gemfile: Gemfile.rails3_rmagick
    - rvm: jruby
      gemfile: Gemfile.rails4_rmagick
  allow_failures:
    - rvm: jruby
      gemfile: Gemfile.rails4
install:
  - bundle install
script:
  - if [[ "$BUNDLE_GEMFILE" =~ rbpdf-font$ ]]; then cd rbpdf-font && bundle exec rake test ; else bundle exec rake test ; fi
gemfile:
  - Gemfile.rails3
  - Gemfile.rails3_rmagick
  - Gemfile.rails4
  - Gemfile.rails4_rmagick
  - Gemfile.rbpdf-font 
notifications:
  email: false
